name: deploy-blog

on:
  push: # 每次push就会触发workflows
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 修改为 write 权限
      pages: write
      id-token: write

    steps:
      - name:
        uses: actions/checkout@v4

      - name:
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name:
        run: npm install

      - name:
        run: npm run build # 注意查看package.json确认命令是否正确

      - name:
        uses: peaceiris/actions-gh-pages@v3 # 如果你是推送到其他仓库请修改！
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .vuepress/dist # 注意检查位置是否正确
          commit_message: 'Deploy to GitHub Pages'
          publish_branch: deploy  # 可选，默认就是 gh-pages，可以省略
